/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100vw;
}

/* Component wrapper for individual components */
.component-wrapper {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}