/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100vw;
}

/* Component wrapper for individual components */
.component-wrapper {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}